<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/_head') %>
  </head>
  
  <body class="container">
    <% if (error) { %>
      <div class="alert alert-danger">
        <%= error %>
      </div>
   <% } %>
    <header>
      <%- include('../partials/_header'); %>
    </header>
    
    <main>
      <div class="jumbotron">
          <h1>TinyApp</h1>
          <p>Welcome to your new life</p>
          
          
      </div>
  </main>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>
  </body>
  </html>